<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Page</title>
</head>
<body>
<form action="/joinPage" method="post" name="joinForm">
  <input type="text" name="email" placeholder="email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="text" name="name" placeholder="name"/>
  <input type="submit" value="Join"/>
</form>
</body>
</html>